<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
			<!-- What shows up when you google something-->
    	<meta name="description" content="Your description goes here">
			<!-- Not as important due to keyword stuffing-->
    	<meta name="keywords" content="one, two, three">

			<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
