<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<!-- What shows up when you google something-->
    	<meta name="description" content="Your description goes here">
		<!-- Not as important due to keyword stuffing-->
    	<meta name="keywords" content="one, two, three">
		<title>Level Ground</title>
		<!-- external CSS link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
    <header>
      <nav>
        <ul>
          <li><a href="#">CLASSES</a></li>
          <li><a href="#">HIRE US</a></li>
          <li class="logo"><img src="./css/assets/noun-judo-5337632.svg" alt="logo"></li>
          <li class="nav-a"><a href="#">DONATE</a></li>
        </ul>
      </nav>
    </header>
    
    <main class="main-video">
      <h1>WHERE GRIT MEETS OPPORTUNITY</h1>
      <p>At Level (LG), urban youth cultivate grit and reislience through Mixed Martial Arts. They learn to apply these values 'off the mat' in the pursuit of their ambitions throught our Student Trainer Certification and College Access programs.
      </p>
      <p>Watch the Video</p>
    </main>

    <section class="second-section clearfix">
      <h2>WHY</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit aspernatur ipsam ducimus eos eaque, repudiandae esse perferendis sed ex repellendus ullam dolore itaque nihil commodi illum porro odit, possimus quis.</p>
    </section>

    <section class="middle-section clearfix">
      <section>
        <img src="./css/assets/400x300.png" alt="middle-image">
        <h3>VISIT THE GYM</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt adipisci id quisquam dignissimos ullam saepe recusandae, enim modi ducimus similique eligendi esse voluptatibus blanditiis? Illo, eius asperiores? Alias, error recusandae!</p>
        <a class="links" href="#">SEE CLASSES</a>
      </section>

      <section>
        <img src="./css/assets/400x300.png" alt="middle-image-bis">
        <h3>HAVE US VISIT YOU</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa amet hic, nobis eum vitae fugit nulla blanditiis error tempore aliquam quisquam enim, quae esse, saepe voluptatum incidunt nesciunt molestiae voluptatibus?</p>
        <a class="links" href="#">HIRE US</a>
      </section>
    </section>

    <section class="bottom-section clearfix">
      <h2>VOLUNTEER WITH LEVEL GROUND</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis harum eos assumenda dicta sequi magni dolor aliquam, nostrum fugiat, enim nobis laudantium? Aliquam animi quos, perspiciatis consequatur deserunt magnam asperiores.</p>
      <a class="links" href="#">VOLUNTEER</a>
    </section>

    <div class="container clearfix">
      <footer>
        <section class="ft-social">
            <ul class="ft-social-list">
              <li><a href="#">Social 1</a></li>
              <li><a href="#">Social 2</a></li>          
              <li><a href="#">Social 3</a></li>
            </ul>
        </section> 
        <section class="ft-main">
          <div class="ft-main-item">
            <h6 class="ft-title">SITE MAP</h6>
            <ul>
              <li><a href="#">Classes</a></li>
              <li><a href="#">Hire Us</a></li>
            </ul>
            <h6 class="ft-title">CONTRIBUTE</h6>
            <ul>
              <li><a href="#">Give</a></li>
              <li><a href="#">Volunteer Us</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <address>
              <h6>LEVEL GROUND<br />
              MIXED MARTIAL ARTS<br /></h6>
              50 Milk Street, Floor 17<br />
              Boston, MA, 02109<br />
              <a href="tel:+14105332210"> +410-533-2210</a>
              <a href="mailto:Ali@LevelGroundMMA.org">Ali@LevelGroundMMA.org</a>
            </address>
          </div>
          <div>
            <p>Level Fround Mized Martial Arts is a tax-exempt, 501(c)3 organisation under the IRS. EIN 46-3915852</p>
            <!-- <img src="./css/assets/noun-judo-5337632.svg" alt="logo"> -->
          </div>
    </footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
